<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SHOP</title>
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <span class="navbar-brand">Shop</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-item nav-link {%if  request.url_rule.endpoint.startswith('admin.categories.') %}active{% endif%}" href="{{ url_for('admin.categories.show_all_categories') }}">Categories</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-item nav-link {%if  request.url_rule.endpoint.startswith('admin.products.') %}active{% endif%}" href="{{ url_for('admin.products.show_all_products') }}">Products</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        




        <div class="container p-5">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-info">
                        <ul class="mb-0">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
            

            {% if errors %}
                <div class="alert alert-danger">
                    <ul class="mb-0">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {%- block content %}{% endblock %}
        </div>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    </body>
</html>